.Pomodoro-setings{
    background-color: rgb(184, 183, 185);
    display: grid;

    gap: 20px;
    width: 80%;
    margin: auto;
    padding: 20px;

    color: black;
}
.TimeSet{
    background-color: blueviolet;
    color: black;
    padding: 20px;
}
.but{
    display: grid;
    gap: 20px;
}